*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.container .main .menubar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

html {
  box-sizing: border-box;
  height: 100%;
  font-size: 75%;
  font-family: "DM Sans", sans-serif;
}

body {
  color: #333;
  font-weight: 400;
  line-height: 1.6;
  height: 100%;
  background-color: #f7f9fb;
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 2.8rem;
  background-color: #f7f9fb;
  height: 100vh;
}

.container .links {
  margin-left: 2rem;
  margin-top: 2rem;
}

.container .links .image .pic {
  width: 5rem;
  height: 5rem;
  border-radius: 1rem;
}

.container .links .image .drop h4 {
  margin-left: 6rem;
  margin-top: -50px;
}

.container .links .image .drop i {
  margin-left: 0.5rem;
}

.container .links .money {
  margin-top: 4rem;
}

.container .links .money h3 {
  color: #212122;
}

.container .links .money h4 {
  color: #9f9da5;
}

.container .links .link {
  margin-top: 1rem;
  list-style: none;
}

.container .links .link .lay {
  padding-top: 15px;
  cursor: pointer;
  font-size: 1.1rem;
}

.container .links .link .lay :hover {
  color: #0fcfcf;
  transition: 0.9s;
}

.container .links .link .lay :active {
  color: #47d495;
}

.container .links .link .lay.active {
  color: #47d495;
}

.container .links .link .lay a {
  text-decoration: none;
  color: #5a5a5a;
}

.container .links .link .lay a :active {
  color: #47d495;
}

.container .links .link .lay i {
  padding-right: 1rem;
}

.container .links .bottom {
  margin-top: 6rem;
}

.container .links .bottom h4,
.container .links .bottom p {
  color: #000107;
}

.container .main {
  background-color: #ffffff;
  margin-top: 1rem;
  margin-left: 2rem;
}

.container .main table {
  width: 100%;
  border-collapse: collapse;
  vertical-align: middle;
  width: 100%;
}

.container .main table th,
.container .main table td {
  padding: 1.25rem 1rem;
}

.container .main table thead.hidden {
  visibility: collapse;
}

.container .main table thead th {
  font-size: 1rem;
  border: none;
  text-transform: uppercase;
  justify-content: start;
  text-align: start;
}

.container .main table th .sortable {
  display: flex;
  position: relative;
  align-items: center;
  cursor: pointer;
}

.container .main table td {
  border-bottom: 1px solid #d4d4d4;
  vertical-align: middle;
}

.container .main .pagination {
  padding-top: 2rem;
  display: inline-block;
}

.container .main .pagination a {
  color: #149eee;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
}

.container .main .pagination a.active {
  background-color: grey;
  color: white;
  border: 1px solid grey;
}

.container .main .pagination a:hover:not(.active) {
  background-color: white;
}

.container .main .pagination a:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.container .main .pagination a:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.container .main .menubar {
  margin-top: 4rem;
  border-bottom: 0.5px solid #968f8f;
}

.container .main .menubar .menu {
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.container .main .menubar .menu li {
  margin: 0rem 2rem;
}

.container .main .menubar .menu li :hover {
  color: #05ec94;
  transition: 0.9s;
}

.container .main .menubar .menu li a {
  text-decoration: none;
  color: black;
  font-size: 1.3rem;
}

.container .main .menubar .menu li a:active {
  background: linear-gradient(to top, green 4px, transparent 0);
  color: green;
}

.container .main .menubar .filters .one, .container .main .menubar .filters .two {
  background-color: #e6ece5;
  font-size: 1rem;
  border-width: 3px;
  border-radius: 6px;
  padding: 10px;
}

.container .main .menubar .filters button {
  background-color: blueviolet;
  color: white;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  text-align: center;
  padding: 0.5em 1em;
  transition: all 0.15s;
}
